body{
  background:rgba(111, 111, 111, 0.5);
}

canvas{
  border: 1px solid black;
   /* height: 500px; */
  /* width:500px;  */
}

#crosshair_overlay{
  position: relative;
  top: -306px;
  pointer-events:none;
}

#volume_canvas_overlay{
  position: relative;
  top: -407;
}

#volume_canvas{
  position: relative;
  top: -311px;
}

.canvas-wrapper{
  width: 90%;
  overflow-x: scroll;
}

#MindFusionChart{
  position: absolute;
  top: 100px;
  border: 1px solid green;
}